body {
  margin: 20px 0px 0px 0px;
  padding: 0;
  background-color: #e1e1e1;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
  text-align: justify; }

h1, h2, h3 {
  margin: 0;
  font-weight: normal;
  text-align: center; }

h1 {
  font-size: 34px;
  font-weight: bold; }

h2 {
  font-size: 20px; }

p, ul, ol {
  margin-top: 0; }

a {
  color: #065efe; }

a:hover {
  text-decoration: none; }

#container {
  width: 930px;
  margin: 10px auto 0 auto; }

#header {
  text-align: center;
  margin: 0px auto;
  background-color: #065efe;
  padding: 10px 0 5px 0;
  border-bottom: 10px solid #004eb3; }
  #header h1 {
    color: white; }
  #header p {
    color: #cccccc; }

#content {
  background-color: #e1e1e1;
  padding: 10px; }

.content_item {
  color: #333333; }

.nice_shadow {
  padding: 1em;
  margin-top: 20px;
  background: white;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

ul#status {
  font-size: 16px;
  line-height: 190%; }
  ul#status li.good {
    color: green; }
  ul#status li.bad {
    color: red; }

#footer {
  margin: 20px;
  text-align: center;
  color: #666666;
  font-size: 11px; }
  #footer ul {
    text-decoration: none;
    list-style: none; }
  #footer li {
    display: inline;
    border-left: 1px solid #888888;
    padding-left: 5px; }
  #footer li:first-child {
    border: none; }
